.container {
	padding: 0.8rem;
	border-radius: 5px;
	border: 1px solid black;
	width: fit-content;
	/* height: 6rem; */
	position: fixed;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.title {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1;
	text-decoration: underline 3px;
}

.content {
	margin: 0.5rem 0;
	font-size: 1.5rem;
	line-height: 1;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	margin-top: 3px;
}

.btn {
	border: none;
	background-color: transparent;
	font-size: 1rem;
}

.accept-btn {
	color: green;
}

.ignore-btn {
	color: gray;
}
